body {
  background: rgb(204,204,204); 
}
page {
  background: white;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}
page[size="A4"] {  
  width: 21cm;
  height: 29.7cm; 
}
page[size="A4"][layout="portrait"] {
  width: 29.7cm;
  height: 21cm;  
}
page[size="A3"] {
  width: 29.7cm;
  height: 42cm;
}
page[size="A3"][layout="portrait"] {
  width: 42cm;
  height: 29.7cm;  
}
page[size="A5"] {
  width: 14.8cm;
  height: 21cm;
}
page[size="A5"][layout="portrait"] {
  width: 21cm;
  height: 14.8cm;  
}

table{
  margin-right: auto;
  margin-left: auto;
  width: 80%;
  border-collapse: collapse;
  border: 1px solid black;
  font-size: 12;
  height: 10px;
  text-align: left;
}

div.campo table{
  border: 1px solid black;
  border-bottom: 1px solid white;
}

div.campo  th, td {
  border: 1px solid black;
  border-bottom: 1px solid white; 
  width: 50%;
}

div.identificacao table {
  background-color: rgb(169,169,169);
}

div.identificacao table, th, td {

}

div.resposta table {
  border: 1px solid black;
  border-top: 1px solid white;
}

div.resposta th, td {
  border: 1px solid black;
  border-top: 1px solid white; 
  width: 50%;
}

div.cabecalho table {
  height: 35px;
}

div.cabecalho th, td {
  text-align: center;
}

div.icon_left img{
    width: 32px;
    height: 32px;
    position:absolute;
    top:1px;
    left:331px;
}

div.icon_right img{
    width: 32px;
    height: 32px;
    position:absolute;
    top:1px;
    right:331px;
}

div.box table {
  margin-right: auto;
  margin-left: auto;
  width:30%;
  height: 35px;
}

div.box th, td {
  border: 1px solid black;
  text-align: center;
}