{% load staticfiles %}
<html>
	<head>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	</head>
	<body>
		<table>
				<tr>Confecção de Crachás</tr>
				<tr>identificação</tr>
				<tr>NOME</tr>
				<tr></tr>
				<tr>
					<th>EMPRESA</th>
					<th>DATA DE INÍCIO</th>
				</tr> 
				<tr>
					<th></th>
					<th></th>
				</tr> 
				<tr>Nome para Crachá</tr>
				<tr></tr>
			</table>

	</body>
</html>
