{% load staticfiles %}
<html>

<head>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'pctec/index.css' %}" />
</head>
<body>
	<div class="center">
		<div class="img">
			<a href="/cdt/pctec/" target="_self">
				<img src="{% static "pctec/pctec_logo.png" %}" alt="logo_pctec" border:0;">
			</a>
			<a href="/cdt/multincubadora/" target="_self">
				<img src="{% static "pctec/logo_multincubadora.png" %}" alt="logo_multincubadora border:0;">
			</a>
		</div>
	</div>
</body>
</html>