{% load staticfiles %}
<html>

<head>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'pctec/pctec.css' %}" />
</head>
<body>
	<ul class="topnav" id="myTopnav">
		<li><a href="/cdt/">Home</a></li>
		<li><a href="/cdt/multincubadora/">Multincubadora</a></li>
		<li><a href="/cdt/pctec/">Parque Tecnológico</a></li>
		<li><a href="#about">Contato</a></li>
		<li class="icon">
			<a href="javascript:void(0);" onclick="navigationBar()">&#9776;</a>
		</li>
	</ul>
	<div class="menu_org">
	<img src="{% static "pctec/pctec_logo.png" %}" alt="logo" border:0;">
	</div>
	<div class="center">
	{% if lista_empresas %}
	    {% for empresa in lista_empresas %}
		    <div class="img">
		    	<a href="{{ empresa.id }}/" target="_self">
		    		<img src="{{empresa.logo.url}}" alt="logo2" border:0;">
		    	</a>
		    	<div class = "desc">{{ empresa.nome }}</div>
		    </div>
	    {% endfor %}
	{% else %}
	    <p>Não há Empresas Cadastradas</p>
	{% endif %}
	</div>
</body>

<script>
	function navigationBar() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
        x.className += " responsive";
    } else {
        x.className = "topnav";
    }
}
</script>
</html>